@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

/* #0b0c17 / #ff3571 / #dddddd / #3C30FF / #FFF / #000 */

/* ALLGEMEIN */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
}

main{width: 100%}

/* Seite 1 */
#Seite-1{
    display: flex;
    align-items: center;
    margin: 35px;
    margin-left: 50px;
    margin-right: 0;
    padding-right: 0;
    height: 100vh;
}

#Seite-1 img, #Seite-1-article-1{
    display: flex;
    align-self: stretch;
}


#Seite-1 article{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#header-h1 {
    font-size: 25px;
    margin-left: 15px; 
}

#header-h2 {
    font-size: 15px;
    margin-left: 15px;
    font-weight: lighter;
}

#Seite-1-Bilder-Headline{
    display: inline-block;
    background: url(/assets/img/ilustracion1.png) center/cover no-repeat;
    max-width: 55%;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#header-h1-2{
    font-size: 60px;
    margin-bottom: 3%;
    font-weight: bold;
}

#header-h2-2{
    font-size: 20px;
    margin-bottom: 15%;
    width: 80%;
    font-weight: lighter;
}

#header-p{
    font-size: 12px;
    font-weight: 700;
    color: #ff3571;
}

#Seite-1-Text-Headline{
    position: absolute;
    top: 40vh;
    width: 40%;
    margin-left: 5%;
}

/* SEITE 2 */
#Seite-2 {
    height: 80vh;
    background: url(/assets/img/images.jpg) center/cover no-repeat;
    display: flex;
    align-self: center;
}

/* SEITE 3 */
#Seite-3{
    height: 80vh;
    display: flex;
    align-self: center;
    margin-top: 20%;
    margin-left:10%;
}

#Seite3-article1{
    width: 35%;
    display: flex;
    justify-content: center;
    padding-right: 5%;
}

#Seite3-article2{
    width: 50%;
    display: flex;
    justify-content: center;
}

#Seite3-article1 p{
    font-size: 60px;
    margin-bottom: 3%;
    font-weight: bold;
}

#Seite3-article2 p{
    font-size: 20px;
    margin-bottom: 15%;
    width: 80%;
    font-weight: lighter;
    line-height: 35px;
}

/* SEITE 4 */
#Seite-4{
    height: 80vh;
    display: flex;
    align-self: center;
    margin-left:10%;
}

#Seite-4 p{
    font-size: 60px;
    margin-bottom: 3%;
    width: 45%;
    font-weight: bold;
}

/* SEITE 5 */
#Seite-5{
    height: 80vh;
    display: flex;
    align-self: center;
    margin-left:10%;
}

#Seite-5 article{
    width: 80%;
}


#Seite-5 article p{
    font-size: 20px;
    line-height: 35px;
    margin-left: 9%;
}

#Seite-5 article p:nth-of-type(1){
    font-weight: lighter;
    margin-left: 2.5%;
}


#Seite-5 article p:nth-of-type(2){
    font-weight: lighter;
    margin-bottom: 25%;
    margin-left: 9%;
    height: 10vh;
}

#Seite-5-DividerROW1 article{
    display:flex;
    flex-wrap: wrap;
    height: 30vh;}

#Seite-5-DividerROW2 article{
    display:flex;
    flex-wrap: wrap;
    height: 30vh;}

.overkill{
    margin-left:10px;
    padding:0;
}

/* Seite 6 */
#Seite-6{
    height: 65vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#Seite-6 h1{
    font-size: 60px;
    margin-bottom: 3%;
    width: 45%;
    font-weight: bold;
}

#Seite-6 h2{
font-size: 25px;
margin-left: 15px;
font-weight: lighter;
line-height: 40px;
}

/* Seite 7 */
#Seite-7{
    display: flex;
    width: 100%;
    flex-direction: row;
}

#Seite-7-picture1 img{
    max-width: 60%;
    flex-wrap: wrap;
    margin-left: 10%;

}

#Seite-7-text1 {
    max-width: 40%;
    flex-wrap: wrap;

}