@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

/* #0b0c17 / #ff3571 / #dddddd / #3C30FF / #FFF / #000 */

/* ALLGEMEIN */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
}

main{width: 100%}

/* Seite 1 */
#Seite-1{
    display: flex;
    align-items: center;
    margin: 35px;
    margin-left: 50px;
    margin-right: 0;
    padding-right: 0;
    height: 100vh;
}

#Seite-1 img, #Seite-1-article-1{
    display: flex;
    align-self: stretch;
}

#Seite-1-img{
    position: fixed;
    top:0;
    margin-top:31px;
    padding: 0;
    left: 8px;
}


#Seite-1 article{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#header-h1 {
    font-size: 25px;
    margin-left: 15px; 
}

#header-h2 {
    font-size: 15px;
    margin-left: 15px;
    font-weight: lighter;
}

#Seite-1-Bilder-Headline{
    display: inline-block;
    background: url(/assets/img/ilustracion1.png) center/cover no-repeat;
    max-width: 55%;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/* ANIMATION DES FLIEGENDEN MANNES */
@keyframes move{
    from {top: 0px;}
    to   {top: 5000px}
}

#jumpy{
    animation: move 1s infinite;
}

/* ANIMATION ENDE */

#header-h1-2{
    font-size: 60px;
    margin-bottom: 3%;
    font-weight: bold;
}

#header-h2-2{
    font-size: 20px;
    margin-bottom: 15%;
    width: 80%;
    font-weight: lighter;
}

#header-p{
    font-size: 12px;
    font-weight: 700;
    color: #ff3571;
}

#Seite-1-Text-Headline{
    position: absolute;
    top: 40vh;
    width: 40%;
    margin-left: 5%;
}

/* SEITE 2 */
#Seite-2 {
    height: 80vh;
    background: url(/assets/img/images.jpg) center/cover no-repeat;
    display: flex;
    align-self: center;
}

/* SEITE 3 */
#Seite-3{
    height: 80vh;
    display: flex;
    align-self: center;
    margin-top: 20%;
    margin-left:10%;
}

#Seite3-article1{
    width: 35%;
    display: flex;
    justify-content: center;
    padding-right: 5%;
}

#Seite3-article2{
    width: 50%;
    display: flex;
    justify-content: center;
}

#Seite3-article1 p{
    font-size: 60px;
    margin-bottom: 3%;
    font-weight: bold;
}

#Seite3-article2 p{
    font-size: 20px;
    margin-bottom: 15%;
    width: 80%;
    font-weight: lighter;
    line-height: 35px;
}

/* SEITE 4 */
#Seite-4{
    height: 80vh;
    display: flex;
    align-self: center;
    margin-left:10%;
}

#Seite-4 p{
    font-size: 60px;
    margin-bottom: 3%;
    width: 45%;
    font-weight: bold;
}

/* SEITE 5 */
#Seite-5{
    height: 80vh;
    display: flex;
    align-self: center;
    margin-left:10%;
}

#Seite-5 article{
    width: 80%;
}


#Seite-5 article p{
    font-size: 20px;
    line-height: 35px;
    margin-left: 9%;
}

#Seite-5 article p:nth-of-type(1){
    font-weight: lighter;
    margin-left: 2.5%;
}


#Seite-5 article p:nth-of-type(2){
    font-weight: lighter;
    margin-bottom: 25%;
    margin-left: 9%;
    height: 10vh;
}

#Seite-5-DividerROW1 article{
    display:flex;
    flex-wrap: wrap;
    height: 30vh;}

#Seite-5-DividerROW2 article{
    display:flex;
    flex-wrap: wrap;
    height: 30vh;}

.overkill{
    margin-left:10px;
    padding:0;
}

/* Seite 6 */
#Seite-6{
    height: 65vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#Seite-6 h1{
    font-size: 60px;
    margin-bottom: 3%;
    width: 45%;
    font-weight: bold;
}

#Seite-6 h2{
font-size: 25px;
margin-left: 15px;
font-weight: lighter;
line-height: 40px;
}

/* Seite 7 */
#Seite-7{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 75%;
    margin-top: 7.5%;
    margin-bottom: 15%;
}

#Seite-7-picture1 img{
    max-width: 60%;
    flex-wrap: wrap;
    margin-left: 10%;
    align-items: center;
}

#Seite-7-text1 {
    max-width: 40%;
    flex-wrap: wrap;
    margin: 0;
    padding:0;
    margin-right: 5%;
    align-items: center;
}

#Seite-7-text1 h1{
    font-size: 100px;
    color: #dddddd;
}

#Seite-7-text1 img{
    height: 75px;
}

#Seite-7-text1 h2{
    margin-top: 25px;}

#Seite-7-text1 h3{
    margin-top: 25px;
    font-size: 25px;
    line-height: 35px;
    font-weight: lighter}


/* Seite 8 */
#Seite-8{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    height: 75%;
    margin-top: 7.5%;
    margin-bottom: 15%;
}

#Seite-8-picture1 img{
    max-width: 60%;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 15%;
}

#Seite-8-text1 {
    max-width: 40%;
    flex-wrap: wrap;
    margin: 0;
    padding:0;
    margin-left: 5%;
    align-items: center;
}

#Seite-8-text1 h1{
    font-size: 100px;
    color: #dddddd;
}

#Seite-8-text1 img{
    height: 75px;
}

#Seite-8-text1 h2{
    margin-top: 25px;}

#Seite-8-text1 h3{
    margin-top: 25px;
    font-size: 25px;
    line-height: 35px;
    font-weight: lighter}

/* Seite 9 */
#Seite-9{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 75%;
    margin-top: 7.5%;
    margin-bottom: 15%;
}

#Seite-9-picture1 img{
    max-width: 60%;
    flex-wrap: wrap;
    margin-left: 10%;
    align-items: center;
}

#Seite-9-text1 {
    max-width: 40%;
    flex-wrap: wrap;
    margin: 0;
    padding:0;
    margin-right: 5%;
    align-items: center;
}

#Seite-9-text1 h1{
    font-size: 100px;
    color: #dddddd;
}

#Seite-9-text1 img{
    height: 75px;
}

#Seite-9-text1 h2{
    margin-top: 25px;}

#Seite-9-text1 h3{
    margin-top: 25px;
    font-size: 25px;
    line-height: 35px;
    font-weight: lighter}

/* Seite 8 */
#Seite-10{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    height: 75%;
    margin-top: 7.5%;
    margin-bottom: 15%;
}

#Seite-10-picture1 img{
    max-width: 60%;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 15%;
}

#Seite-10-text1 {
    max-width: 40%;
    flex-wrap: wrap;
    margin: 0;
    padding:0;
    margin-left: 5%;
    align-items: center;
}

#Seite-10-text1 h1{
    font-size: 100px;
    color: #dddddd;
}

#Seite-10-text1 img{
    height: 75px;
}

#Seite-10-text1 h2{
    margin-top: 25px;}

#Seite-10-text1 h3{
    margin-top: 25px;
    font-size: 25px;
    line-height: 35px;
    font-weight: lighter}

/* Seite 11 */
#Seite-11{
    height: 65vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#Seite-11 h1{
    font-size: 60px;
    margin-bottom: 3%;
    width: 45%;
    font-weight: bold;
}

#Seite-11 h2{
font-size: 25px;
margin-left: 15px;
font-weight: lighter;
line-height: 40px;
}

#Seite-11 form{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#EMAILADRESS{
    margin: 35px;
    padding: 20px 150px;
    border-radius: 5px;
    background-color: #FFF;
    color: #0b0c17;
    opacity: 0.6;
    border: 0.1 solid #0b0c17;
    font-size: 25px;
}

#SUBMITITDAMMIT{
    width: 50%;
    background-color:#ff3571;
    color:#FFF;
    padding: 20px 0;
    font-size: 25px;
    border-radius: 5px;
}

#SUBMITITDAMMIT:hover{
    width: 50%;
    background: linear-gradient(90deg, #ff3571, #3C30FF);
    padding: 20px 0;
    font-size: 25px;
    border-radius: 5px;
}


/* FOOTER */

footer{
    font-size: 25px;
    height: 10vh;
    font-weight: lighter;
}

footer p {
    margin-left: 10%;
}
